<div>
    <h4><a href="{{url}}">{{title}}</a></h4>
    <div>
        <span class="fa fa-map-marker"></span> {{location}}
    </div>
    <p>
        {{{ summary }}}
    </p>
    <div>
        <a href="{{url}}" class="btn btn-sm btn-outline-dark" target="_blank" rel="noreferrer">
            Open Page <span class="fa fa-caret-right"></span>
        </a>
    </div>
</div>