<div class="col-sm-6">
    <div class="card m-2">
        <div class="card-img-top background--img" style="height:200px; background-image: url({{image}})" alt="{{title}}">
        </div>
        <div class="card-body">
            <h4 class="card-title">
                <a href="{{url}}">
                    {{title}}
                </a>
            </h4>
            <p class="card-text">{{{short_summary}}}</p>
            <a href="{{url}}" class="btn btn-primary">Read More</a>
        </div>
    </div>
</div>
{{#unless even}}
    </div><div class="row">
{{/unless }}