<div class="carousel-item {{#if first}}active{{/if}}">
    <div class="event-summary row mr-md-0 mr-lg-0 mr-xl-0">
        <div class="col-sm-6 background--img" style="background-image: url({{image}})">
        </div>
        <div class="col-sm-6 background--white">
            <div class="my-2">
                <div class="lead">
                    <a href="{{url}}">
                        {{title}}
                    </a>
                </div>
                <div>
                    {{ date.dateStr }}
                </div>
            </div>
            <div class="text-small">
                {{ summary }}
                <a href="{{url}}">More</a>
            </div>
        </div>
    </div>
</div>