<tr>
    <td class="agenda--date" class="active" rowspan="1">
        <div class="dayofmonth">{{date.dayofmonth}}</div>
        <div class="dayofweek">{{date.dayofweek}}</div>
        <div class="shortdate text-muted">{{date.month}}, {{date.year}}</div>
    </td>
    <td class="agenda--time">
        {{date.time}}
    </td>
    <td class="agenda--events">
        <div class="agenda-event">
            <a href="{{url}}">{{ title }}</a>
            <br/>
            <small>{{summary}}</small>
        </div>
    </td>
</tr>