<div class="py-3 group--item" data-lat="{{lat}}" data-lng="{{lng}}">
    <h4><a href="{{url}}">{{title}}</a></h4>
    <div class="group--distance-container d-none">
        <span class="fa fa-road"></span> <span class="group--distance"></span>KM
    </div>
    <div>
        <span class="fa fa-map-marker"></span> {{location}}
    </div>
    <p>
        {{{summary}}}
    </p>
    <div>
        <a href="{{url}}" class="btn btn-sm btn-outline-dark">
            More Info <span class="fa fa-caret-right"></span>
        </a>
    </div>
</div>