<div class="agenda--event">
    <a href="{{link}}">{{name}}</a>
    <small>{{description}}</small>
</div>
<div class="agenda--date">
    <div class="dayofmonth">{{date.dayofmonth}}</div>
    <div class="dayofweek">{{date.dayofweek}}</div>
    <div class="shortdate text-muted">{{date.month}}, {{date.year}}</div>
</div>